<div id="<%= dom_id card %>">
  <p>
    <strong>Guess action:</strong>
    <%= card.guess_action %>
  </p>

  <p>
    <strong>Forbidden words:</strong>
    <%= card.forbidden_words %>
  </p>

  <p>
    <strong>Descriptive hint:</strong>
    <%= card.descriptive_hint %>
  </p>

  <p>
    <strong>Times played:</strong>
    <%= card.times_played %>
  </p>

  <p>
    <strong>Is explicit:</strong>
    <%= card.is_explicit %>
  </p>

</div>
